.table-container {
  background-color: white;
  padding: 30px;
  border-radius: 16px;
  margin-top: 30px;
}

.table-title {
  margin-bottom: 25px;
}

.table-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-box input {
  width: 240px;
  height: 40px;
  padding-left: 10px;
  border: 1px solid #dbe1ea;
  border-radius: 8px;
}

.sort-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sort-box select {
  height: 40px;
  border: 1px solid #dbe1ea;
  border-radius: 8px;
  padding: 0 10px;
}

.referral-table {
  width: 100%;
  border-collapse: collapse;
}

.referral-table th {
  text-align: left;
  background-color: #f1f5f9;
  padding: 16px;
}

.referral-table td {
  padding: 18px 16px;
  border-bottom: 1px solid #e2e8f0;
}

.referral-table tr:hover {
  background-color: #f8fafc;
  cursor: pointer;
}

.profit {
  color: #6366f1;
  font-weight: 600;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.page-buttons {
  display: flex;
  gap: 10px;
}

.page-buttons button {
  width: 40px;
  height: 40px;
  border: 1px solid #dbe1ea;
  background: white;
  border-radius: 10px;
  cursor: pointer;
}

.active-page {
  background-color: #6366f1 !important;
  color: white;
}

.page-buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.page-buttons button {
  height: 48px;
  padding: 0 18px;

  border: 1px solid #e2e8f0;
  border-radius: 12px;

  background-color: #ffffff;

  color: #64748b;
  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  min-width: 48px;
}

.page-buttons button:first-child,
.page-buttons button:last-child {
  min-width: 90px;
}

.page-buttons button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.active-page {
  background-color: #6366f1 !important;
  color: #ffffff !important;
  border-color: #6366f1 !important;
}


.referral-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.referral-table tbody tr:nth-child(even) {
  background-color: #f8fafc;
}





.referral-table tbody tr {
  cursor: pointer;
  transition: background-color 0.2s;
}

.referral-table tbody tr:hover {
  background-color: #eef2ff;
}




.table-wrapper {
  position: relative;
  min-height: 300px;
}

/* CENTER LOADING */
.loading-center {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  font-weight: 600;
  color: #64748b;
}

.no-data {
  text-align: center;
  padding: 30px;
  font-size: 18px;
  color: #64748b;
}





















